@model IEnumerable<StaRucati.Models.Jelo>

@{
    ViewBag.Title = "Jela iz restorana";
}

<h2>Jela iz restorana: @ViewBag.Restoran</h2>

<p>
    @Html.ActionLink("Dodaj novo jelo", "CreateForThisRestourant", new { id = ViewBag.RestoranId })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cijena)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cijena)
        </td>
        <td>
            @Html.ActionLink("Izbriši", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
